<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<HEADER>
    <META http-equiv="Content-type" content="text/html; charset=utf-8" />
</HEADER>
<BODY>

<DIV>
    <DIV id="page_header">
    </DIV>

    <DIV id="page_navbar">
    </DIV>

    <DIV>
        {% block sidebar %}{% endblock %}
    </DIV>

    <DIV id="page_content">
        {% block content %}{% endblock %}
    </DIV>

    <DIV id="page_footer">
        {% block footer %}{% endblock %}
    </DIV>

    <DIV>
</BODY>
</HTML>