{% extends "base_site.html" %}
{% block title %}Edit Profile{% endblock %}
 
{% block content %}
<div class="row" id="profile_edit_top">
    <div class="span8">
        <h2>Your Profile</h2>
        <h3><strong>Username: {{ user }} </strong></h3>
    </div>
</div>
<br>
<br>
<form action="" method="POST">
    <div class="row" id="profile_edit">
        <div class="span2">
            [Picture here]
        </div>
        <div class="span8">
            {% for field in pform.visible_fields %}
                {% csrf_token %}
                <p>
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                </p>
            {% endfor %}

            {% for field in uform.visible_fields %}
                {% csrf_token %}
                <p>
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                </p>
            {% endfor %}
            <input id="submit" type="submit" name="submit" value="Update" />
            {{ saved }}
        </div>
    </div>
</form>
<br>
{% endblock content %}