{% extends "base_site.html" %}
{% block title %}User profile{% endblock %}

{% block content %}
    <br>
    <div class="row" id="profile_infor">
        <div class="span4">
            [Picture here]
        </div>
        <div class="span8">
            <h4>{{ member.user.first_name }} {{ member.user.last_name }}</h4>
            <p> Email {{ member.user.email }}</p>
            <p> Username {{ member.user.username }}</p>
            <p>Member of {{ flat.name }}</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" id="profile_takslist">
        <div class="span12">
            <table class="table table-bordered">
                <thead><strong>{{ member.user.first_name }} {{ member.user.last_name }}'s completed tasks in  {{ flat.name }}</strong></thead>
                <tr>
                    {% for tasks in tasks_assigned %}
                        <td>{{ tasks.task.name }}</td>
                        <td>{{ tasks.completion_date }}</td>
                        <td>{{ tasks.task.credits}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td  class="text-right"><strong>Sum</strong> {{ sum }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}