{% extends "base_site.html" %}
{% block title %}Flat Organizer{% endblock %}

{% block content %}

    <h2>Welcome to {{ flat_info.name }}!</h2>

    <div id="flatDescription" class ="row">
        <div class="span2" id="pictureContainer">
            </br>
            [Such a cool picture here]
        </div>
        <div class = "span8" id="flatInfo">

            <h5>Flat description <small>
                {{ flat_info.description }}
            </small>
            </h5>


            <div id="memberList" >
                <h5>Members in flat<small>
                {% for member in flat_members %}
                {{ member.user.first_name }},
                <!--{{ member.name }}-->
                <!--{{ member.id }}-->

                {% endfor %}
                </small>
                </h5>
            </div>

        </div>
    </div>



    <a data-toggle="modal" href="#CreateItem" class="btn btn-primary btn-small">Create Item</a>

    <div id="flatLists" class = "row bord">
        <div id="flatTaskList" class ="span6">
            <h3>Task list</h3>
            <table class="table table-striped">
                <tr>
                    <th>Taskname </th>
                    <th>Category</th>
                    <th>Points</th>
                    <th>Done</th>
                </tr>
                {% for task in task_list %}
                    <tr id="{{task.id}}">
                        <td> {{ task.name }}</td>
                        <td> {{ task.category }} </td>
                        <td> {{ task.credits }}</td>
                        <!--<form action="" method="POST">-->
                        <td> <input type="submit" value ="Done" id="btnSetTaskDone" class ="btn-primary"/></td>
                        <!--</form>-->
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id="flatShoppingList" class ="span5 offset1">
            <h3>Shopping list</h3>
            <table class = "table table-striped">
                <th>Name </th>
                <th>Category</th>
                <th>Points</th>
                <th>Done</th>
                {% for shopping_item in shopping_list %}
                    <tr id="{{ shopping_item.id }}" >
                        <td> {{ shopping_item.name }} </td>
                        <td> {{ shopping_item.category }}</td>
                        <td> {{ shopping_item.credits }} </td>
                        <td> <input type="button" value ="Done" id="btnSetShoppingListDone" class ="btn-primary"/> </td>
                    </tr>
                {% endfor %}

            </table>


            </br>
        </div>
    </div>

<div id="CreateItem" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <button class="close" data-dismiss="modal"></button>
        <h3>New Item</h3>
    </div>
    <form action="" method="POST">
        <div class="modal-body">

                {% for field in task_form.visible_fields %}
                {% csrf_token %}
                <p>
                    {{ field }}
                    {{ field.help_text }}
                    {{ field.errors }}
                </p>
                {% endfor %}


        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input id="submit" type="submit" name="submit" class="btn-primary" value="Create" />
        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        $("#btnSetTaskDone").click(function() {
            var taskId = $(this).parent().parent().attr("id");
            //alert(taskId+10);
            $("#" + taskId).remove();
            //Use this ID to update this in DB.


        });
        $("#btnSetShoppingListDone").click(function() {
            var taskId = $(this).parent().parent().attr("id");
            //alert(taskId+10);
            $("#" + taskId).remove();
            //Use this ID to update this in DB.


        });



        $("#btnCreateItem").click(function() {
            alert("Button clicked");
            var taskId = $("flatTasksList").attr("id");
            alert(taskId);
            //Use this ID to update this in DB.


        });

    });



</script>

    <br>
    <div class="text-right">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="flat_id" value="{{ flat_info.id }}">
            <button type="submit" class="btn-primary" name="deleteFlat" onclick="confirmDelete(event);" >Delete flat</button>
        </form>
        <script>
            function confirmDelete(e) {
                if (confirm("Are you sure you want to DELETE this flat?")) {
                } else {
                    e.preventDefault();
                }
            }
        </script>
    </div>

{% endblock content %}
