<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flat Organizer</title>
		<meta content="Keep your flat organized with your mates." name="description">
		<meta content="flat, apartment, organizer" name="keywords">
		<link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css" />
		<!--[if lt IE 9]><script src="dist/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<div class="front-bg">
				<img class="front-image" src="https://twimg0-a.akamaihd.net/a/1358461320/t1/img/front_page/jp-mountain@2x.jpg">
			</div>
			<div class="front-card">	
				<div class="front-welcome">
					<div class="front-welcome-text">
						<h1>Welcome to use Flat Organizer.</h1>
						<p>Keep your flat organized with your mates.</p>
					</div>
				</div>
				<div class="links">
					<a href="/flats/register/">Register Here</a>
					<a href="/flats/login/">Login</a>
				</div>
			</div>
		</div>
		<footer>
			<p>&copy; 2013 Flat Organizer</p>
		</footer> <!---End Footer->
	</body>
</html>