{% extends "base_site.html" %}
{% block title %}Flat Organizer{% endblock %}

{% block content %}
    <div class ="row">
        <div class="span8">
            <div class="content">
                <div class="page-header">
                    <h1 class="text-center">Please select your flat</h1>
                </div>

                {% if flats %}
                {% for flat in flats %}
                <div class="row hero-unit" style="margin-left: 0px;">

                    <div class="span2">
                        <a href="#">
                            <img src="{{ MEDIA_URL }}house_standard.jpg" alt="house" class="img-rounded">
                        </a>
                    </div>
                    <div class="bottomaligned">
                        <div class="span4">
                            <a href="{{ flat.flat_id }}">
                                <p>{{flat.flat.name}}</p>
                            </a>
                            <p>
                                {% for member in flat.member_list %}
                                <a href="{{ flat.flat_id }}/{{ member.user.username }}">{{member.user.first_name}}</a>
                                {% endfor %}
                            </p>
                            <p>

                            <div id="inviteBox{{  flat.flat_id }}" class="inviteBox btn-link">Invite</div>
                            <div id="inviteForm{{ flat.flat_id }}" class="inviteForm" hidden="true">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <fieldset><br>
                                        <input id="email" name="email" type="text" placeholder="Email address">
                                        <input type="hidden" name="flat_id" value="{{ flat.flat_id }}">
                                        <button name="sendInvite" class="btn btn-primary" type="submit">Invite</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /bottomaligned -->
                        												
																				<div class="dropdown btn-group span1" id="accountmenu">
																								<figure class="icon-pencil dropdown-toggle" data-toggle="dropdown" href="#"></figure>
																								<ul class="dropdown-menu">
																												<li>
																																<a href="#removeFlat" data-para="{{ flat.id }}" class="removeFlatButton" data-toggle="modal">Leave flat</a>
																												</li>
																												<li class="divider"></li>
																												<li>
																																<a href="#editFlatInfo" data-para="{{ flat.flat_id }}"  class="editFlatInfoButton" data-toggle="modal">Edit flat information</a>
																												</li> 
																								</ul>
																				</div> <!-- /dropdown -->
								
																				<script type="text/javascript">
																								$(document).ready(function () {
																												$('.dropdown-toggle').dropdown();
																								});
																				</script>
                </div> <!-- /row -->
																
																<!-- Remove Flat Modal -->
																<div id="removeFlat" class="modal hide fade in" style="display: none; ">
																				<form action="" method="POST"> {% csrf_token %}
																								<div class="modal-header">
																												<button class="close" data-dismiss="modal"></button>
																												<h3>Are you sure you want to leave this flat?</h3>
																								</div>
																								<div class="modal-footer">
																												<a href="#" class="btn" data-dismiss="modal">Cancel</a>
																												<input type="hidden" name="flat_id" value="" id="leaveFlat">
																												<input id="remove" type="submit" name="deleteFlat" class="btn btn-danger" value="Yes, I'm sure" />
																								</div>
																				</form>
																</div>
																<!-- End Remove Flat Modal -->
																
																<!-- Edit Flat Info Modal -->
																<div id="editFlatInfo" class="modal hide fade in" style="display: none; ">
																				<form action="" method="POST"> {% csrf_token %}
																								<div class="modal-header">
																												<button class="close" data-dismiss="modal"></button>
																												<h3>Edit flat information</h3>
																								</div>
																								<div class="modal-body">
																												<div class="modal-form">
												
																																{% for field in edit_form.visible_fields %}
															
																																<p>
																																				{{ field }}
																																				{{ field.help_text }}
																																				{{ field.errors }}
																																</p>
																																
																																{% endfor %}
												
																												</div>
																								</div>
																								<div class="modal-footer">
																												<a href="#" class="btn" data-dismiss="modal">Close</a>
																												<input type="hidden" name="flat_flat_id" value="" id="editFlat">
																												<input id="edit" type="submit" name="editFlatInfo" class="btn btn-primary" value="Edit" />
																								</div>
																				</form>
																</div>
																<!-- End Edit Flat Info Modal -->
																
                {% endfor %}
                {% endif %}

                <a href="#CreateFlat" class="btn btn-primary btn-small" data-toggle="modal">New flat</a>

                <!-- Create Flat Modal -->
                <div id="CreateFlat" class="modal hide fade in" style="display: none; ">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal"></button>
                        <h3>New Flat</h3>
                    </div>
                    <form action="" method="POST">
                        <div class="modal-body">
                            <div class="modal-form">

                                {% for field in flat_form.visible_fields %}
                                {% csrf_token %}
                                <p>
                                    {{ field }}
                                    {{ field.help_text }}
                                    {{ field.errors }}
                                </p>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                            <input id="create" type="submit" name="createNewFlat" class="btn btn-primary" value="Create" />
                        </div>
                    </form>
                </div>
                <!-- End Create Flat Modal -->
            </div>

            <script type="text/javascript">
                $(document).ready(function(){
                    $(function() {
                        $(document).on('click', '.inviteBox', function(e) {
                            var $this = $(this);
                            if ($this.next().is(":hidden")) {
                                $this.next().slideDown("slow");
                            } else {
                                $this.next().slideUp("slow");
                            }
                        });
                    });
                });
            </script>
				
												<!-- Script to get the id of Flat_member of a row-->												
												<script type="text/javascript">
																function getFlatMemberId(para){
																document.getElementById('leaveFlat').value = para;
																}
																$(document).ready(function(){
																				$(function() {
																								$(document).on('click', '.removeFlatButton', function(e) {
																												var para = this.dataset['para'];
																																getFlatMemberId(para);
																								});
																				});
																});
												</script>
												
												<!-- Script to get the id of Flat of a row-->
												<script type="text/javascript">
																function getFlatId(para){
																								document.getElementById('editFlat').value = para;
																}
																$(document).ready(function(){
																				$(function() {
																								$(document).on('click', '.editFlatInfoButton', function(e) {
																												var para = this.dataset['para'];
																																getFlatId(para);
																								});
																				});
																});
												</script>

								</div> <!-- /span8 -->

        <div class="page-header">
            <h2 class="text-center">Pending invitations</h2>
        </div>

        <div>
            {% for flat_to_accept in invited_flats %}
            <div class="span3 offset1">
                {% if flat_to_accept.name %}
                <table class="table table-striped ">
                    <tr>
                        <th>Flat name</th>
                        <th>Accept</th>
                    </tr>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <tr>
                            <input type="hidden" name="flat_id" value="{{ flat_to_accept.id }}"/>
                            <td>{{ flat_to_accept.name}}</td>
                            <td><button type="submit list-space" class="btn-primary btn" name="acceptInvite">Join</button></td>
                        </tr>
                    </form>
                </table>
                {% endif %}
            </div>
            <br>
            {% endfor %}
        </div>
				</div> <!-- /row -->

{% endblock content %}