<HTML>
<HEADER>
    <TITLE>Flat Organizer</TITLE>
</HEADER>
<BODY>
        <FORM id="login_form" method="post" action="/flats/login/">
        {% csrf_token %}
                Username:
                <input type="text" name="username" value="" id="username" size="50" />
            <br />
                Password:
                <input type="password" name="password" value="" id="password" size="50" />
                <br />
        <INPUT type="submit" name="submit" value="submit" />
        </FORM>
</BODY>
</HTML>